{% extends 'calculator/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 rounded">
                <h1 class="text-center"><span class="d-sm-inline investment-text-left">Investment</span> <span class="calculator-text-white">Calculator</span></h1>
                <form method="POST" class="rounded p-4" style="background-color: #212A3E;"> 
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-light btn-rounded" type="submit">Calculate</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- #303032 -->